#head {
  height: 3.3rem;
}

:focus {
  outline: none;
}

body {
  width: 100%;
  overflow-x: hidden;
}

#search-container {
  display: flex;
  max-width: fit-content;
  margin: 2.5% 5%;
  padding: 0%;
}

#search-txt {
  border-radius: 8px 0px 0px 8px;
  display: inline-flex;
  padding: 4% 0% 4% 5%;
  background-color: rgb(223, 221, 221);
  min-width: 14rem;
}

.srch-txt {
  margin: -.5% 2%;
  font-size: .95rem;
  font-family: Arial, Helvetica, sans-serif;
}

#calendar {
  cursor: pointer;
}

.srch-txt input {
  border: none;
  background: inherit;
}

.srch-txt span {
  line-height: 1.25rem !important;
  margin: 2rem -.15rem !important;
}

.srch-txt .arrow {
  height: 1.1rem;
  vertical-align: middle;
  margin: .15rem 0;
  display: initial;
}

#search-txt img {
  width: 1.25rem;
}

#search-icon {
  border-radius: 0 8px 8px 0;
  padding: 4% 6% .5% 4.5%;
  width: fit-content;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(221, 221, 221);
}

#search-icon:hover {
  color: white;
  background: rgb(200, 200, 200);
}

#search-icon:active {
  background: rgb(245, 245, 245);
  box-shadow: -1px 1px 1px -1px gray;
}

#search-icon img {
  width: 1.1rem;
}

#caption strong {
  font-size: .9rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(99, 97, 97);
  font-weight: bold;
  line-height: 2rem;
}

#caption span {
  font-size: 1.2rem;
  font-weight: bold;
}

#table {
  width: 90vw;
  margin: 0 5vw;
  border-top: 2px solid rgb(221, 221, 221);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: rgb(53, 52, 52);
}

.th span img{
  cursor: pointer;
}

.th span {
  display: none;
}

#sort-date {
  display: inline;
}

#thead {
  visibility: hidden;
  background-color: rgb(245, 245, 245);
}

#caption {
  margin-left: 5%;
  display: inline-flex;
  text-align: left;
  margin-bottom: .1em;
}

.tr {
  border-bottom: 2px solid rgb(221, 221, 221);
  display: flex;
}

#logo-container {
  position: relative;
  width: 90%;
  height: fit-content;
  margin-left: 5%;
}

#logo-container img {
  position: absolute;
  margin: 28vh 50%;
  width: 9rem;
  transform: translate(-4.5rem, -2.775rem);
}

.hidden {
  color: initial;
}

.th, .td {
  padding: 0 .9%;
}

.th {
  text-align: left;
  font-weight: bold;
  font-size: .9rem;
  color: rgb(99, 97, 97);
}

.th:not(:nth-child(3)):not(:nth-child(5)):hover {
  background: rgb(234, 233, 233);
  cursor: pointer;
}

.td:first-child, .th:first-child {
  min-width: 15%;
  max-width: 15%;
}

.td:nth-child(2), .th:nth-child(2) {
  min-width: 15%;
  max-width: auto;
}

.td:nth-child(3), .th:nth-child(3) {
  min-width: 4%;
}

.td:nth-child(4), .th:nth-child(4) {
  min-width: 40%;
  max-width: 40%;
}

.td:nth-child(5), .th:nth-child(5) {
  min-width: 2%;
}

.td:nth-child(6), .th:nth-child(6) {
  min-width: 12em;
}

.td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.td img {
  width: 1rem;
  float: right;
}

#table .tr {
  line-height: 2.4rem;
}

.td span, #message span {
  background: rgb(146, 144, 144);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 2% 10%;
  margin: 1% auto;
  border-radius: 4px;
  line-height: 1.2rem;
  font-weight: bold;
}

#tbody .tr:hover {
  background: rgb(248, 248, 248);
  color: blue;
  cursor: pointer;
}

.td:nth-child(6), .th:nth-child(6) {
  color: rgb(41, 40, 40);
  font-weight: 600 !important;
}

.th:nth-child(6) {
  min-width: 6%;
}

.th span img {
  width: .7rem;
}

.small {
  display: none;
}

/* attchment clip icon */
.td:nth-child(5) {
  line-height: 2.4rem;
  height: 1.1rem;
  margin: .7rem 0;
}

/* email detail disp5lay styles */
.detail {
  padding: 6%;
  position: relative;
}

.label {
  /* initially hide all labels */
  display: none;
  color: black;
}

.detail ._date {
  position: absolute;
  top: 2rem;
  right: 6%;
  font-weight: lighter !important;
  font-size: 80%;
  font-style: italic;
  text-align: right;
}

.detail ._threads {
  /* hide email count, now shown in the head where found was */
  display: none;
}

.detail ._from, .detail ._to, .detail ._subject, .detail ._attachment {
  padding: 0%;
  max-width: 100%;
  font-weight: normal;
  font-size: small;
}

.detail ._threads span {
  padding: 0;
  background: none;
  color: unset;
}

.detail ._from, .detail ._to {
  /* show email addressses as links */
  color: blue !important;
}

.detail ._subject {
  margin-bottom: 4%;
}

.action {
  width: fit-content;
  font-weight: normal;
  padding: 0 1.8%;
  font-style: italic;
}

.action:hover {
  background: rgb(204, 203, 203);
  color: white;
}

.action:active {
  color: #000;
}

#actions {
  justify-content: flex-end;
  padding-right: 5%;
}

.body {
  font-size: 90%;
}

.detail ._attachment {
  position: absolute !important;
  bottom: 20% !important;
  left: 90% !important;
}

/* delete dialogue display */
#del {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(196, 195, 195);
  padding: 2% 5%;
  display: table-row;
  border-radius: 8px;
}

#cancel, #confirm {
  padding: .5rem;
  border-radius: 8px;
  background: grey;
  color: white;
  font-size: small;
  display: table-cell;
}

#actions > *, .delete > *, #search-icon {
  cursor: pointer;
}

/* show tooltip for viewing multiple mail bodies */
#tip, #search-tip {
  position: absolute;
  margin-top: -3.5%;
  transform: translateX(5%);
  padding: 1%;
  display: none;
  font-size: small;
  font-style: italic;
  font-weight: lighter;
  background: rgb(184, 184, 184);
  color: blue;
  border-radius: 15PX;
  opacity: 0;
  animation: tip 5s 1;
}

#tip:after, #search-tip::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 8%;
	width: 0;
	height: 0;
  border: 15px solid transparent;
	border-top-color: rgb(184, 184, 184);
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
  margin-bottom: -10px;
  opacity: 0;
  animation: tip 5s 1;
} 

.td:nth-child(5) {
  margin-right: auto;
}

#search-tip {
  margin-top: -3%;
  width: fit-content;
  padding: .5%;
}

@keyframes tip {
  0% { opacity: 1; }
  100% { opacity: 0; }
}