@media only screen and (min-width: 620px) {
  .td:nth-child(5) {
    margin-right: auto !important;
  }
}

@media only screen and (min-width: 760px) {
  .td, .th {
    padding: 0 .9vw;
  }
}

@media only screen and (min-width: 1080px) {
  .td, .th {
    padding: 0 1.2vw;
  }
}

@media only screen and (max-width: 620px) {
  body {
    width: 98%;
    border: 1px solid grey;
  }

  #table {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    color: rgb(97, 97, 97);
  }

	#head {
    display: inline-flex;
    width: 100%;
	}

  .srch-txt span {
    margin: -.09rem !important;
    line-height: 1rem !important;
  }
  
  .srch-txt .arrow {
    height: 1rem;
    vertical-align: middle;
    margin: 0;
    display: initial;
    margin-bottom: .1rem;
  }
  
  #thead .tr {
    padding: 0 5% 0 5%;
  }

  .tr {
    font-weight: 600;
  }
  
  .th:not(:first-child) {
    min-width: 0 !important;
  }

  .th:first-child {
    padding-right: 0;
    min-width: 7ch !important;
    margin-right: -1ch;
  }

	.td img {
		width: 0.8rem;
	}

	#sort-from {
		display: inline;
  }
  
  #sort-date {
    display: none;
  }

	.th:nth-child(2), .th:nth-child(4), .th:nth-child(6) {
		border-left: 1px  solid rgb(97, 97, 97);
		margin: .7rem -1rem -.1rem .6rem;
    line-height: 1rem;
    height: .7rem;
    padding-bottom: .4rem;
    padding-left: .5rem;
  }

  th:nth-child(6) {
		margin-right: 3rem;
	}

	.th:first-child, .td:first-child {
    color:rgb(43, 42, 42) !important;
    font-weight: bold;
	}

	.th:nth-child(6), .td:nth-child(6) {
    color: rgb(99, 97, 97) !important;
    font-weight: 500;
  }
  
  .th:nth-child(6) {
    font-weight: bold;
  }

	.td:nth-child(6) > img {
		width: .2rem;
	}
	
	#tbody .tr {
		display: table;
    position: relative;
    line-height: 1.8rem;
    padding: 1% 5% 1% 5%;
	}
  
	.td:last-child {
		top: 0;
		left: 5%;
		position: absolute;
	}

	.mail {
		height: 3.6rem;
	}

	.arrow {
		height: 1.8rem;
		margin-left: 1ch;
	}

	.small {
		display: inline;
	}

	.td:first-child, .td:nth-child(2) {
		margin-left: 1.4rem;
		display: table-cell;
		min-width: 45%;
		max-width: 60%;
		float: left;
	}

	.td:nth-child(2) {
		max-width: calc(100% - 5rem);
	}

	.td:nth-child(5) {
    float: right;
    margin-top: -4.8rem;
    line-height: 1.8rem;
	}

	.td:nth-child(3) {
    float: right;
    min-width: 8%;
	}

	.td:nth-child(4) {
    max-width: calc(90vw - 2rem);
    min-width: calc(90vw - 2rem);
	}

	.td:nth-child(6) {
		min-width: 0 !important;
    float: right;
    text-align: right;
    margin: -5.2rem 0;
  }
  
  #search-icon {
    padding: 4% 5% 12% 5%;
  }

  #search-icon img {
    width: .9rem;
  }

  #search-txt {
    padding: 5% 0% 12% 5%;
    min-width: 11rem;
  }
  
  .srch-txt {
    margin: .5% 2%;
    font-size: .8rem;
  }
  
  #search-txt img {
    width: 1.1rem;
    margin-bottom: 8%
  }

  #caption strong {
    font-size: .75rem;
    line-height: 2rem;
  }
  
  #caption span {
    font-size: 1.1rem;
  }

  #logo-container img {
    position: relative;
    margin: 40vh 50%;
    width: 7.6rem;
    transform: translate(-3.7rem, -1rem);
  }

  /* email detai display */
  .detail ._from, .detail ._to, .detail ._subject {
    margin: 0;
    min-width: 100%;
  }

  .detail ._subject {
    margin-bottom: 5%;
  }

  .detail ._date {
    position: absolute;
    top: 29% !important;
  }

  .detail ._date img {
    display: none;
  }

  .detail ._from {
    margin-top: 5%;
  }

  .detail ._attachment {
    left: 90% !important;
  }

  /* hide the mail icon */
  .detail .small {
    display: none;
  }

  /* adjust tip display for smaller web screens */
  #tip {
    transform: translateX(-90%);
    margin-top: -5%;
  }
  #message {
    font-style: oblique;
    padding: 1.8% 1%;
    position: fixed;
    top: 3.8rem;
    right: 0vw;
    z-index: 1;
    width: 70%;
    color: blue;
    text-align: center;
    visibility: hidden;
    animation: msg 8s;
  }

@keyframes msg {
  0% {
    right: -70%;
  }
  40% {
    right: -3%;
  }
  60% {
    right: -3%;
  }
  100% {
    right: -70%;
  }
}
  
  #message::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgb(221, 220, 220);
    line-height: 0;
    opacity: .4;
    z-index: -1;
    top: 0;
    left: 0;
  }
  
  #message span {
    padding: .9% 1.2%;
  }

  .td span, #message span {
    animation: multitip 2s 4;
  }
  
  @keyframes multitip {
    0% {background:  rgb(146, 144, 144);}
    100% {background: whitesmoke;}
  }

  #search-tip {
    display: block;
    margin-top: -6%;
  }
  
}

@media only screen and (max-width: 410px) {
  .td:nth-child(2) {
    min-width: 40vw;
		max-width: calc(74vw - 1rem);
  }
  
  .td:nth-child(1) {
    min-width: 50vw;
		max-width: 50vw;
  }
  
  .td:nth-child(4) {
    max-width: 90vw;
  }
  
}