#head {
  /* min-height: 2.4rem; */
  
  /* border: 1px solid blue; */
}

#search-container {
  display: flex;
  max-width: fit-content;
  margin: 1.4% 5%;
  padding: 0%;
  /* border: 1px solid red; */
}

#search-txt {
  border-radius: 5px 0px 0px 5px;
  display: inline-flex;
  padding: 2% 0% 2% 5%;
  background-color: rgb(212, 212, 212);
  min-width: 10rem;
}

.srch-txt {
  margin: auto 2%;
  font-size: .7rem;
  font-weight: bold;
  color: rgba(85, 84, 84);
}

#search-icon {
  border-radius: 0 5px 5px 0;
  padding: 3% 6% 1% 4.5%;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(221, 221, 221);
  /* right: 0%; */
}

#search-icon:hover {
  /* background: grey; */
  color: white;
  background: rgb(200, 200, 200);
}

#search-icon:active {
  background: rgb(245, 245, 245);
  box-shadow: -1px 1px 1px -1px gray;
}

#search-icon img {
  width: .8rem;
}

.srch-txt img {
  width: 1rem;
}

#found strong {
  /* margin-top: 2rem; */
  font-size: .55rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(129, 126, 126);
  font-weight: 1000;
}

#found span {
  font-size: .9rem;
  font-weight: bold;
}

#found {
  width: 90%;
  margin-left: 5%;
  border-top: 1px solid rgb(221, 221, 221);
  /* border-collapse: collapse; */
}

thead {
  visibility: hidden;
  background-color: rgb(245, 245, 245);
  border-collapse: collapse;
}

caption {
  display: table-caption;
  text-align: left;
  margin-bottom: .1em;
}

th, td, tr {
  border-bottom: 1px solid rgb(221, 221, 221);
  border-collapse: collapse;
}

#logo-container {
  background: yellow;
  width: 90%;
  height: auto;
  margin-left: 5%;
  /* position: relative; */
}

#logo-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4.9rem;
  transform: translate(-2.5rem, -2.5rem);
}

.hidden {
  color: initial;
}

td img {
  width: 2rem;
}